01.데이터분석/data/재무제표파일/2017_1분기_False.xlsx
01.데이터분석/data/재무제표파일/2017_1분기.xlsx
01.데이터분석/data/재무제표파일/2017_2분기.xlsx
01.데이터분석/data/재무제표파일/2017_3분기.xlsx
01.데이터분석/data/재무제표파일/2017_3rd.csv
01.데이터분석/data/재무제표파일/2018_1분기.xlsx
01.데이터분석/data/재무제표파일/2018_2분기.xlsx
01.데이터분석/data/재무제표파일/2018_3분기.xlsx
01.데이터분석/data/재무제표파일/corpcode_in_dart.csv
01.데이터분석/재무제표파일/2017_1분기.xlsx
01.데이터분석/2020_1_반도체기업_재무상태표.xlsx
01.데이터분석/data/.DS_Store
01.데이터분석/data/2017_반기보고서_01_재무상태표_연결_20220212.txt
01.데이터분석/data/2020_1분기보고서_01_재무상태표_연결_20211104.txt
01.데이터분석/data/반도체 기업 목록.txt
01.데이터분석/data/apinumber.txt
01.데이터분석/data/재무제표파일/.DS_Store
01.데이터분석/재무제표파일/2017_1분기.xlsx

재무제표파일/
data/
01.데이터분석/15.sql전송완성코드.ipynb
01.데이터분석/15-3.sql_예상주가입력.ipynb

